.place__website__link {
  max-width: 456px;
  margin: 0;
  transition: 0.2 linear;
   
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
    
  text-decoration-line: underline;
    
  color: #FFFFFF;
}

/*for 768*/
@media screen and (max-width: 768px) {
    .place__website__link {
      max-width: 352px;
    }
  }

  /*for 450*/
@media screen and (max-width: 450px) {
    .place__website__link {
      max-width: 288px;
    }
  }

.place__website__link:hover {
  opacity: 0.8;
}