.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 18px;
}

/*for 700*/
@media screen and (max-width: 700px) {
    .footer__links {
      flex-direction: column;
      column-gap: 0;
      row-gap: 32px;
    }
  }